/* style/css background */
.scroll-content{
	background: url(../img/back.jpg); no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.background{
	background: url(../img/randomback.jpg); no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
/* Style/css button */
.loginbutton{
	appearance:none;
	width: 50%;
	height: 40px;
	border-radius: 50px;
	font-size: 120%;
	font-weight: bold;
	background-color:transparent;
	border: solid;
	color: white;
	margin-top: 4%;
	margin-bottom: 1%;
	transition-duration:0.4s;
}
.loginbutton:hover{
	background-color: white;
	color: gray;
	opacity:0.5;
	border:none;
}
.loginbutton:active {
  background-color: white;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
  border:none;
  transition-duration:0.4s;
}

.signupbutton{
	appearance:none;
	width: 50%;
	height: 40px;
	border-radius: 50px;
	font-size: 120%;
	font-weight: bold;
	background-color:transparent;
	border: solid;
	color: white;
	transition-duration:0.4s;
}
.signupbutton:hover{
	
	background-color: white;
	color: gray;
	opacity:0.5;
	border:none;
}
.signupbutton:active {
  background-color: white;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
  border:none;
  transition-duration:0.4s;
}
.randombutton{
	appearance:none;
	width: 30%;
	height: 20%;
	border-radius: 300px;
	font-size: 120%;
	font-weight: bold;
	background-color:transparent;
	border: solid;
	color: white;
	transition-duration:0.4s;
}
.randombutton:hover{
	
	background-color: white;
	color: gray;
	opacity:0.5;
	border:none;
}
.randombutton:active{
  background-color: white;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
  border:none;
  transition-duration:0.4s;
}
/* style/css vertigo logo dan text */
.vertigotxt{
	text-align:center;
	margin-top:20px;
	font-size: 240%;
	color: white;
	font-family: arial;
}
.vertigologo{
	height:120px;
	size: 50%;
}
/* style/css input */
input{
	width: 70%;
	border-radius:5px;
	margin-bottom:1%;
	opacity:0.5;
	transition: 0.6s;
}
input:focus{
	opacity:0.8;	
}

